body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu.cool {
	background-repeat: no-repeat;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	position: relative;
	top: 175px;
	left: -212px;
	display: none;
	float: left;
}

.instructions {
	font-family: Verdana; ;
	font-weight: bold;
	position: absolute;
	list-style: none;
	top: 260px;
	left: 800px;
}

.instructions ul {
	padding: 15px;
	font-size: 24px;
}